<html>
    <head>
        <title>
            <%= locals.title%>
        </title>
    </head>
    <body>
        <form action = "/create-todo" method = "POST"
        <!-- action is the url where the form is submitted and method is used to send data to the server in the HTTP request body -->
        <input type = "text" name = "todo_description" placeholder="what do you need to do ?">

        <label for="category">Select a Category:</label>
            <select id="category" name="category">
                <option value="personal">Personal</option>
                <option value="meeting">Meeting</option>
                <option value="hobby">Hobby</option>
                <option value="work">Work</option>
                <option value="other">Other</option>
            </select>

        <input type="date">

  
  
        </form>
    </body>
</html>